/* (*) is a wildcard and means all elements - CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    /* position: sticky; */
    top:0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: monospace;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}


/* home section */
#home {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    height: 700px;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: initial;
    position: absolute;
    /* font-size: 3rem;
    font-family: monospace; */
    top: 30%;
    /* right: 10%; */
}

.container p {
    font-family: monospace;
    font-size: 3rem;
    text-align: center;
    overflow: hidden;
    /* padding: 0.5rem; */
}

.main {
    font-family: monospace;
    font-size: 1.25rem;
    text-align: left;
    overflow: hidden;
    padding: 5%;
    padding-top: 150px;
}

/* hacking words */
.typed-text {
    font-weight: normal;
    color:rgb(102, 255, 102);
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #ccc;
    margin-left: 0.1rem;
    animation: blink .5s infinite;
}

.cursor.typing {
    animation: none;
}

/* @keyframes controls the intermediate steps in a CSS animation sequence by defining styles for keyframes (or waypoints) along the animation sequence */
@keyframes blink {
    0% { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: #ccc; }
}

.headings {
    font-family: monospace;
    font-size: 3rem;
    text-align: center;
    margin: 50px 0px;
    transition: all .5s ease;
}

.headings:hover {
    /* background-color: white; */
    /* color: black; */
    text-shadow: 0 0 10px rgb(102, 255, 102);
}



/* .btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    transition: .6s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
} */


/* training section */
#training {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    color: white;
    align-items: center;
    padding-bottom: 50px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    border: 1px solid white;
    margin: 20px;
    align-items: center;
    text-align: justify;
    padding-bottom: 25px;
    border-radius: 15px;
    /* background: rgba(0, 0, 0, 0.9); */
    /* background-size: 100% 200%; */
    transition: all .8s ease;
}

.box:hover {
    /* background-position: left bottom; */
    color: white;
    /* border: none; */
    box-shadow: 0 0 20px rgb(102, 255, 102);;
}

.box img {
    width: 75px;
    height: 75px;
    margin-top: 30px;
    padding: 5px;
    /* padding-top: 10px; */
}

.boxheadings {
    font-family: monospace;
    font-size: 1.75rem;
    text-align: center;
    margin: 20px 0px;
}

ul {
    font-family: monospace;
    font-size: 1.25rem;
    /* text-align: center; */
}

li:not(:last-child) {
    margin-bottom: 5px;
}

/* projects */
#projects {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    /* background: linear-gradient(-45deg, rgb(20, 20 ,20), rgb(0, 0, 0), rgb(20, 20 ,20));
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite; */
    color: white;
    padding-bottom: 5%;
}

.bullets {
    align-items: left;
    padding-left: 5%;
    padding-bottom: 5%;
}

/* @keyframes change {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
} */


/* contact section */

#footer {
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: monospace;
    font-size: 1rem;
    padding-left: 5%;
    padding-bottom: 2%;
}